<main class="main">
 <div class="form">
  <p class="formtitle">Product creation form</p>
  <form [formGroup]="prodformgrp" (ngSubmit)="onSubmit()">      
   <label for="name">Name </label>
   <input type="text" formControlName="name" id="name"  class="inputfield"/>
   <label for="price">Price </label>
   <input type="number" formControlName="price" id="price"  class="inputfield"/>
   <label for="quantity">quantity </label>
   <input type="number" formControlName=quantity" id="quantity"  class="inputfield"/>
   <label for="x">X </label>
   <input type="number" formControlName="x_coord" id="x"  class="inputfield"/>
   <label for="y">Y</label>
   <input type="number" formControlName="y_coord" id="y" class="inputfield"/>
   <button type="submit" class="createbtn" [disabled]="!prodformgrp.valid">Create</button>
  </form>
  <a routerLink="../order" routerLinkActive="active" ariaCurrentWhenActive="page" class="bypass">Back to orders</a>
  
 </div>
</main>

